dist
cabal-dev
*~
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
/blog.html
/Prettiest.aux
/Prettiest.boxes
/Prettiest.log
/Prettiest.pdf
/Prettiest.ptb
/Prettiest.tex
/PM
/texput.log
/Prettiest.bbl
/Prettiest.blg
